<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title><%= nombrePagina %>&#8211; OLADEG</title>

		<!-- Google Font: Source Sans Pro -->
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"
		/>
		<!-- Font Awesome -->
		<link
			rel="stylesheet"
			href="/adminlte/plugins/fontawesome-free/css/all.min.css"
		/>
		<!-- Theme style -->
		<link rel="stylesheet" href="/adminlte/dist/css/adminlte.min.css" />
		<style>
			.disabled-link{
				pointer-events: none; /* Evita eventos de puntero */
				cursor: not-allowed; /* Cambia el cursor a "no permitido" */
				opacity: 0.5; /* Reduce la opacidad para indicar que está deshabilitado */
			}
		</style>
	</head>
	<body class="hold-transition sidebar-mini layout-navbar-fixed">
		<!-- Site wrapper -->
		<div class="wrapper">
			<%- include ('../../views/layouts/navbarAdmin.ejs', {user}) %> <%-
			include('../../views/layouts/sidebarAdmin.ejs', {user}) %>

			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<!-- Content Header (Page header) -->
				<section class="content-header">
					<div class="container-fluid">
						<div class="row mb-2">
							<div class="col-sm-6">
								<h1>Anuncios</h1>
							</div>
							<div class="col-sm-6">
								<ol class="breadcrumb float-sm-right">
									<li class="breadcrumb-item">
										<a href="<%= ROUTES.ADMIN %>">Home</a>
									</li>
									<li class="breadcrumb-item active">
										Anuncios
									</li>
								</ol>
							</div>
						</div>
					</div>
					<!-- /.container-fluid -->
				</section>

				<!-- Main content -->
				<section class="content">
					<div class="container-fluid">
						<div class="row">
							<div class="col-12">
								<%- include('../partials/mensajesFlash.ejs') %>
								<div class="card">
									<div class="card-header">
										<h3 class="card-title">
											Listado de Anuncios
										</h3>

										<div class="card-tools">
											<div
												class="row align-items-center justify-content-center"
											>
												<div
													class="input-group input-group-sm"
													style="width: 250px"
												>
													<input
														type="text"
														name="table_search"
														class="form-control float-right"
														placeholder="Search"
													/>

													<div
														class="input-group-append"
													>
														<button
															type="submit"
															class="btn btn-default"
														>
															<i
																class="fas fa-search"
															></i>
														</button>
													</div>
												</div>
												<a
													href="/admin/anuncio"
													type="button"
													class="btn btn-sm bg-primary ml-2"
												>
													<i class="fas fa-plus"></i>
													Agregar
												</a>
											</div>
										</div>
									</div>
									<!-- /.card-header -->
									<div class="card-body table-responsive p-0">
										<table
											class="table table-hover text-nowrap"
										>
											<thead>
												<tr>
													<th>ID</th>
													<th>Titulo</th>
													<th>Portada</th>
													<th>Fecha del Evento</th>
													<th>Hora del Evento</th>
													<th>Creado por</th>
													<th>Acciones</th>
												</tr>
											</thead>
											<tbody>
												<% if(anuncios.length){ %>
													<% anuncios.forEach((anuncio, i) => { %>
														<% const fecha = DateTime.fromISO(anuncio.fecha, { locale: 'es' }) %>
														<% const fechaFormateada = fecha.toFormat('EEEE, dd \'de\' MMMM \'de\' yyyy') %>
														<tr>
															<td><%= i+1 %></td>
															<td>
																<%= anuncio.titulo %>
															</td>
															<td>
																<img
																	src="<%= anuncio.portada %>"
																	alt=""
																	class="img-fluid"
																	style="
																		max-height: 100px;
																	"
																/>
															</td>
															<td>
																<%= convertirPrimeraLetraMayuscula(fechaFormateada) %>
															</td>
															<td><%= anuncio.hora %></td>
															<td><%= anuncio.User.nombre + ' ' + anuncio.User.apellido %></td>
															<td>
																<div class="row justify-content-center align-items-center text-center">

																	<div class="col-12 mb-1">
																		<button
																			type="button"
																			data-id="<%= anuncio.id %>"
																			class="btn btn-sm bg-danger button-delete-anuncio"
																		>
																			<i
																				class="fas fa-trash"
																			></i>
																		</button>
																		<a
																			href="<%= ROUTES.EDITAR_ANUNCIO.replace(':id', anuncio.id) %>"
																			type="button"
																			class="btn btn-sm bg-primary"
																		>
																			<i
																				class="fas fa-edit"
																			></i>
																		</a>
																	</div>
																	<div class="col-12">
																		<a
																			href="<%= ROUTES.EDITAR_IMAGEN_ANUNCIO.replace(':id', anuncio.id) %>"
																			type="button"
																			class="btn btn-sm bg-success"
																		>
																			<i
																				class="fas fa-image"
																			></i>
																		</a>
																		<a
																			href="<%= ROUTES.MOSTRAR_ANUNCIO.replace(':slug', anuncio.slug) %>"
																			type="button"
																			class="btn btn-sm bg-warning"
																			target="_blank"
																		>
																			<i
																				class="fas fa-eye"
																			></i>
																		</a>
																	</div>
																</div>
															</td>
														</tr>
													<% }) %>
												<% }else{ %>
													<tr>
														<td>-</td>
														<td>
															-
														</td>
														<td>
															-
														</td>
														<td>
															-
														</td>
														<td>-</td>
														<td>
															-
														</td>
													</tr>
												<% } %>
											</tbody>
										</table>
										<div class="row">
											<div class="col-sm-12 col-md-5 text-left pl-4 mb-2">
												<div
												class="dataTables_info"
												id="example2_info"
												role="status"
												aria-live="polite"
												>
												Mostrando <%= (cantidadAnunciosPagina * (paginaActual - 1)) + 1 %> - <%=  paginaActual === cantidadPaginas ? totalAnuncios : cantidadAnunciosPagina * paginaActual %> de <%= totalAnuncios %> anuncios
												</div>
											</div>
											<div class="col-sm-12 col-md-7 d-flex justify-content-end pr-4">
												<div
												class="dataTables_paginate paging_simple_numbers"
												id="example2_paginate"
												>
												<ul class="pagination">
													<li
													class="paginate_button page-item previous"
													id="example2_previous"
													>
													<a
														href="?page=<%= paginaActual - 1 %>"
														aria-controls="example2"
														data-dt-idx="0"
														tabindex="0"
														class="page-link <%= !isPaginacionAnterior ? 'disabled-link' : '' %>"
														>Anterior</a
													>
													</li>
													<% if(isPaginacionesNormal) {%>
														<% arrayPaginas.forEach((pagina, i) => { %>
															<li
																class="paginate_button page-item <%= paginaActual === pagina ? 'active': '' %>"
															>
															<a
																href="?page=<%= pagina %>"
																aria-controls="example2"
																data-dt-idx="<%= i + 1 %>"
																tabindex="0"
																class="page-link"
																>1</a
															>
															</li>
														<% })%>
													<% } %>
													<% if(isPaginacionesIzquierda) {%>
														<li
															class="paginate_button page-item <%= paginaActual === 1 ? 'active': '' %>"
														>
															<a
																href="?page=1"
																aria-controls="example2"
																data-dt-idx="1"
																tabindex="0"
																class="page-link"
																>1</a
															>
														</li>
														<li
															class="paginate_button page-item <%= paginaActual === 2 ? 'active': '' %>"
														>
															<a
																href="?page=2"
																aria-controls="example2"
																data-dt-idx="2"
																tabindex="0"
																class="page-link"
																>2</a
															>
														</li>
														<li
															class="paginate_button page-item <%= paginaActual === 3 ? 'active': '' %>"
														>
															<a
																href="?page=3"
																aria-controls="example2"
																data-dt-idx="3"
																tabindex="0"
																class="page-link"
																>3</a
															>
														</li>
														<li
															class="paginate_button page-item"
														>
															<a
																href="#"
																aria-controls="example2"
																data-dt-idx="4"
																tabindex="0"
																class="page-link disabled-link"
																>...</a
															>
														</li>
														<li
															class="paginate_button page-item <%= paginaActual === cantidadPaginas ? 'active': '' %>" 
														>
															<a
																href="?page=<%= cantidadPaginas %>"
																aria-controls="example2"
																data-dt-idx="5"
																tabindex="0"
																class="page-link"
																><%= cantidadPaginas %></a
															>
														</li>
													<% } %>

													<% if(isPaginacionesMedia) {%>
														<li
															class="paginate_button page-item"
														>
															<a
																href="?page=1"
																aria-controls="example2"
																data-dt-idx="1"
																tabindex="0"
																class="page-link"
																>1</a
															>
														</li>
														<li
															class="paginate_button page-item"
														>
															<a
																href="#"
																aria-controls="example2"
																data-dt-idx="2"
																tabindex="0"
																class="page-link disabled-link"
																>...</a
															>
														</li>
														<li
															class="paginate_button page-item active"
														>
															<a
																href="?page=<%= paginaActual %>"
																aria-controls="example2"
																data-dt-idx="3"
																tabindex="0"
																class="page-link"
																><%= paginaActual %></a
															>
														</li>
														<li
															class="paginate_button page-item"
														>
															<a
																href="#"
																aria-controls="example2"
																data-dt-idx="4"
																tabindex="0"
																class="page-link disabled-link"
																>...</a
															>
														</li>
														<li
															class="paginate_button page-item" 
														>
															<a
																href="?page=<%= cantidadPaginas %>"
																aria-controls="example2"
																data-dt-idx="5"
																tabindex="0"
																class="page-link"
																><%= cantidadPaginas %></a
															>
														</li>
													<% } %>

													<% if(isPaginacionesDerecha) {%>
														<li
															class="paginate_button page-item <%= paginaActual === 1 ? 'active': '' %>"
														>
															<a
																href="?page=1"
																aria-controls="example2"
																data-dt-idx="1"
																tabindex="0"
																class="page-link"
																>1</a
															>
														</li>
														<li
															class="paginate_button page-item"
														>
															<a
																href="#"
																aria-controls="example2"
																data-dt-idx="2"
																tabindex="0"
																class="page-link disabled-link"
																>...</a
															>
														</li>
														<li
															class="paginate_button page-item <%= paginaActual === cantidadPaginas - 2 ? 'active': '' %>" 
														>
															<a
																href="?page=<%= cantidadPaginas - 2 %>"
																aria-controls="example2"
																data-dt-idx="3"
																tabindex="0"
																class="page-link"
																><%= cantidadPaginas - 2 %></a
															>
														</li>
														<li
															class="paginate_button page-item <%= paginaActual === cantidadPaginas - 1 ? 'active': '' %>" 
														>
															<a
																href="?page=<%= cantidadPaginas - 1 %>"
																aria-controls="example2"
																data-dt-idx="4"
																tabindex="0"
																class="page-link"
																><%= cantidadPaginas - 1 %></a
															>
														</li>
														<li
															class="paginate_button page-item <%= paginaActual === cantidadPaginas ? 'active': '' %>" 
														>
															<a
																href="?page=<%= cantidadPaginas %>"
																aria-controls="example2"
																data-dt-idx="5"
																tabindex="0"
																class="page-link"
																><%= cantidadPaginas %></a
															>
														</li>
													<% } %>
													<li
													class="paginate_button page-item next"
													id="example2_next"
													>
													<a
														href="?page=<%= paginaActual + 1 %>"
														aria-controls="example2"
														data-dt-idx="6"
														tabindex="0"
														class="page-link <%= !isPaginacionSiguiente ? 'disabled-link' : '' %>"
														>Siguiente</a
													>
													</li>
												</ul>
												</div>
											</div>
											</div>
									</div>
									<!-- /.card-body -->
								</div>
								<!-- /.card -->
							</div>
						</div>
					</div>
				</section>
				<!-- /.content -->
			</div>
			<!-- /.content-wrapper -->

			<!-- Control Sidebar -->
			<aside class="control-sidebar control-sidebar-dark">
				<!-- Control sidebar content goes here -->
			</aside>
			<!-- /.control-sidebar -->
		</div>
		<!-- ./wrapper -->

		<%- include('../layouts/scriptAdmin.ejs') %>
	</body>
</html>
