<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/headAdmin.ejs') %>
	</head>
	<body class="hold-transition sidebar-mini layout-navbar-fixed">
		<!-- Site wrapper -->
		<div class="wrapper">
			<%- include ('../../views/layouts/navbarAdmin.ejs') %> <%-
			include('../../views/layouts/sidebarAdmin.ejs') %>

			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<!-- Content Header (Page header) -->
				<section class="content-header">
					<div class="container-fluid">
						<div class="row mb-2">
							<div class="col-sm-8">
								<h1>
									Editar Imagen y Archivo del Libro: <%= libro.titulo%>
								</h1>
							</div>
							<div class="col-sm-4">
								<ol class="breadcrumb float-sm-right">
									<li class="breadcrumb-item">
										<a href="<%= ROUTES.ADMIN %>">Home</a>
									</li>
									<li class="breadcrumb-item">
										<a href="<%= ROUTES.LIBROS_ADMIN %>"
											>Libros</a
										>
									</li>
									<li class="breadcrumb-item active">
										Editar Imagen y Archivo Libro
									</li>
								</ol>
							</div>
						</div>
					</div>
					<!-- /.container-fluid -->
				</section>

				<!-- Main content -->
				<section class="content">
					<div class="container-fluid">
						<div class="row">
							<div class="col-12">
								<%- include('../partials/mensajesFlash.ejs') %>
								<div class="card card-primary">
									<div class="card-header">
										<h3 class="card-title">Formulario</h3>
									</div>
									<!-- /.card-header -->
									<!-- form start -->
									<form
										action="<%= ROUTES.EDITAR_IMAGEN_LIBRO.replace(':id', req.params.id) + '?_csrf=' + csrfToken %>"
										method="POST"
										enctype="multipart/form-data"
									>
										<div class="card-body">
											<div class="form-group">
												<label for="portada"
													>Portada *</label
												>
												<div class="input-group">
													<div class="custom-file">
														<input
															type="file"
															class="custom-file-input"
															id="fileInputLibro"
															name="portada"
															accept="image/*"
														/>
														<label
															class="custom-file-label"
															for="portada"
															>Elige una
															imagen</label
														>
													</div>
													<div
														class="input-group-append"
													>
														<span
															class="input-group-text"
															>Subir</span
														>
													</div>
												</div>
												<div
													id="imagePreviewLibro"
													class="col-12 col-md-6 col-xl-4 mt-2 p-0"
												></div>
											</div>
											<div class="form-group mt-4">
												<label for="portada"
													>Portada Actual</label
												>
												<div
													class="col-12 col-md-6 col-xl-4 p-0"
												>
													<img
														src="<%= libro.portada %>"
														alt="<%= libro.titulo%>"
														style="
															width: 100%;
															height: 450px;
														"
													/>
												</div>
											</div>

											<div class="my-4" style="border-top: 1px solid #e5e2e2; border-bottom: 1px solid #e5e2e2; border-radius: 3px;"></div>

											 <div class="form-group">
												<label for="archivo"
													>Archivo (PDF Recomendado)</label
												>
												<div class="input-group">
													<div class="custom-file">
														<input
															type="file"
															class="custom-file-input"
															id="fileInputArchivoLibro"
															name="archivo"
															accept=".pdf,.doc,.docx,.xls,.xlsx"
														/>
														<label
															class="custom-file-label"
															for="archivo"
															>Elige un archivo</label
														>
													</div>
													<div
														class="input-group-append"
													>
														<span
															class="input-group-text"
															>Subir</span
														>
													</div>
												</div>
												<div
													id="imagePreviewArchivoLibro"
													class="mt-2 p-0"
												></div>
											</div>
											<div class="form-group mt-4">
												<label for="archivo"
													>Archivo Actual</label
												>
												<div
													class="col-12 col-md-6 col-xl-4 p-0"
												>
													<!-- <img
														src="<%= libro.archivo %>"
														alt="<%= libro.titulo %>"
														style="
															width: 100%;
															height: 300px;
														"
													/> -->
													<% if(libro.archivo){ %>
														<object 
															type="application/pdf" 
															data="<%= libro.archivo %>" 
															width="600" 
															height="700"
															border="3"
															class="large-pdf-libro"
														>
															<!-- <img src="<%= libro.portada %>" alt="<%= libro.titulo %>" /> -->
														</object>
														<object 
															type="application/pdf" 
															data="<%= libro.archivo %>" 
															width="300" 
															height="400"
															border="3"
															class="small-pdf-libro"
														>
															 <!-- <img src="<%= libro.portada %>" alt="<%= libro.titulo %>" /> -->
														</object>

													<% } else { %>
														<p>Sin archivo subido</p>
													<% } %>
												</div>
											</div>
										</div>



										<!-- /.card-body -->

										<div class="card-footer">
											<button
												type="submit"
												class="btn btn-primary"
											>
												Cambiar Imagen/Archivo
											</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- /.content -->
			</div>
			<!-- /.content-wrapper -->

			<!-- Control Sidebar -->
			<aside class="control-sidebar control-sidebar-dark">
				<!-- Control sidebar content goes here -->
			</aside>
			<!-- /.control-sidebar -->
		</div>
		<!-- ./wrapper -->

		<%- include('../layouts/scriptAdmin.ejs') %>
	</body>
</html>
