<div class="buttons flex flex-jc-c">
  <% if(pagina_actual > 1){ %>
    <span class="anuncios__button activo" data-number="<%= pagina_actual - 1 %>"> &laquo;</span>
  <% }else{ %>
    <span class="anuncios__button disabled" data-number="<%= pagina_actual - 1 %>"> &laquo;</span>
  <% } %>
  <% if (total_paginas <= 5) {%>
    <% for(let i = 0; i < total_paginas; i++) { %>
      <% if(i + 1 === pagina_actual){ %>
        <span class="anuncios__button activo" data-number="<%= i + 1 %>"><%= i + 1 %></span>
      <% }else{ %>
        <span class="anuncios__button" data-number="<%= i + 1 %>"><%= i + 1 %></span>
      <% } %>
    <% } %>
  <% }else{ %>
    <%if(pagina_actual <= 3 ){%>
      <% for(let i = 0; i < pagina_actual + 1; i++) { %>
        <% if(i + 1 === pagina_actual){ %>
          <span class="anuncios__button activo" data-number="<%= i + 1 %>"><%= i + 1 %></span>
        <% }else{ %>
          <span class="anuncios__button" data-number="<%= i + 1 %>"><%= i + 1 %></span>
        <% } %>
      <% } %>
      <span class="anuncios__button disabled" >...</span>
      <span class="anuncios__button" data-number="<%= total_paginas %>" ><%= total_paginas %></span>
    <%}else if(pagina_actual >= total_paginas - 2) {%>
      <span class="anuncios__button" data-number="1" >1</span>
      <span class="anuncios__button disabled" >...</span>
      <% for(let i = pagina_actual - 2; i < total_paginas; i++) { %>
        <% if(i + 1 === pagina_actual){ %>
          <span class="anuncios__button activo" data-number="<%= i + 1 %>"><%= i + 1 %></span>
        <% }else{ %>
          <span class="anuncios__button" data-number="<%= i + 1 %>"><%= i + 1 %></span>
        <% } %>
      <% } %>
    <% }else{ %>
      <span class="anuncios__button" data-number="1" >1</span>
      <span class="anuncios__button disabled" >...</span>
      <% for(let i = pagina_actual - 2; i < pagina_actual + 1; i++) { %>
        <% if(i + 1 === pagina_actual){ %>
          <span class="anuncios__button activo" data-number="<%= i + 1 %>"><%= i + 1 %></span>
        <% }else{ %>
          <span class="anuncios__button" data-number="<%= i + 1 %>"><%= i + 1 %></span>
        <% } %>
      <% } %>
      <span class="anuncios__button disabled" >...</span>
      <span class="anuncios__button" data-number="<%= total_paginas %>" ><%= total_paginas %></span>
    <%} %>
  <% } %>
  
  <% if(pagina_actual < total_paginas){ %>
    <span class="anuncios__button activo" data-number="<%= pagina_actual + 1 %>"> &raquo;</span>
  <% }else{ %>
    <span class="anuncios__button disabled" data-number="<%= pagina_actual + 1 %>"> &raquo;</span>
  <% } %>
</div>