<div class="buttons flex flex-jc-c">
  <span data-url="?page=<%= paginaActual - 1 %>" class="anuncios__button pagination <%= !isPaginacionAnterior ? 'disabled' : '' %>"> &laquo;</span>

  <% if(isPaginacionesNormal) {%>
    <% arrayPaginas.forEach(pagina => { %>
      <span data-url="?page=<%= pagina %>" class="anuncios__button <%= paginaActual === pagina ? 'activo': '' %>"><%= pagina %></span>
    <% }) %>
  <% } %>

  <% if(isPaginacionesIzquierda) { %>
    <span data-url="?page=1" class="anuncios__button <%= paginaActual === 1 ? 'activo': '' %>">1</span>
    <span data-url="?page=2" class="anuncios__button <%= paginaActual === 2 ? 'activo': '' %>">2</span>
    <span data-url="?page=3" class="anuncios__button <%= paginaActual === 3 ? 'activo': '' %>">3</span>
    <span data-url="#" class="anuncios__button disabled">...</span>
    <span data-url="?page=<%= cantidadPaginas %>" class="anuncios__button <%= paginaActual === cantidadPaginas ? 'activo': '' %>"><%= cantidadPaginas %></span>
  <% } %>

  <% if(isPaginacionesMedia) {%>
    <span data-url="?page=1" class="anuncios__button <%= paginaActual === 1 ? 'activo': '' %>">1</span>
    <span data-url="#" class="anuncios__button disabled">...</span>
    <span data-url="?page=<%= paginaActual %>" class="anuncios__button activo"><%= paginaActual %></span>
    <span data-url="#" class="anuncios__button disabled">...</span>
    <span data-url="?page=<%= cantidadPaginas %>" class="anuncios__button <%= paginaActual === cantidadPaginas ? 'activo': '' %>"><%= cantidadPaginas %></span>
  <% } %>

  <% if(isPaginacionesDerecha) {%>
    <span data-url="?page=1" class="anuncios__button <%= paginaActual === 1 ? 'activo': '' %>">1</span>
    <span data-url="#" class="anuncios__button disabled">...</span>

    <span data-url="?page=<%= cantidadPaginas - 2 %>" class="anuncios__button <%= paginaActual === cantidadPaginas - 2 ? 'activo': '' %>"><%= cantidadPaginas - 2 %></span>

    <span data-url="?page=<%= cantidadPaginas - 1 %>" class="anuncios__button <%= paginaActual === cantidadPaginas - 1 ? 'activo': '' %>"><%= cantidadPaginas - 1 %></span>

    <span data-url="?page=<%= cantidadPaginas %>" class="anuncios__button <%= paginaActual === cantidadPaginas ? 'activo': '' %>"><%= cantidadPaginas %></span>
  <% } %>

  <span data-url="?page=<%= paginaActual + 1 %>" class="anuncios__button pagination <%= !isPaginacionSiguiente ? 'disabled' : '' %>"> &raquo;</span>
</div>