<div class="anuncio__buttons">
    <% if (isButtonAnterior) { %>
      <a href="/<%= url %>/<%= contenidoAnterior.slug %>" role="link" class="anuncio__button anuncio__button--before" title="<%= contenidoAnterior.titulo %>">
        <span>&lt;</span>
        <p><%= contenidoAnterior.titulo %></p>
      </a>
    <% } else { %>
      <a href="" role="link" class="anuncio__button anuncio__button--before anuncio__button--disabled" title="">
          <span>&lt;</span>
          <p>Sin <%= tipo %> anterior</p>
      </a>
    <% } %>
  
    <% if (isButtonSiguiente) { %>
      <a href="/<%= url %>/<%= contenidoSiguiente.slug %>" role="link" class="anuncio__button anuncio__button--after" title="<%= contenidoSiguiente.titulo %>">
        <p><%= contenidoSiguiente.titulo %></p>
        <span>&gt;</span>
      </a>
    <% } else { %>
      <a href="" role="link" class="anuncio__button anuncio__button--after anuncio__button--disabled" title="">
        <p>Sin <%= tipo %> siguiente</p>
        <span>&gt;</span>
      </a>
    <% } %>
</div>