<div class="anuncio__buttons">
    <% if (anterior) { %>
      <a href="<%= `${protocol}://${host}/${tipo}/${anterior.Url}` %>" role="link" class="anuncio__button anuncio__button--before" title="<%= `${anterior.Titulo} | Oladeg` %>">
        <span>&lt;</span>
        <p><%= `${anterior.Titulo}` %></p>
      </a>
    <% } else { %>
      <a href="" role="link" class="anuncio__button anuncio__button--before anuncio__button--disabled" title="">
      </a>
    <% } %>
  
    <% if (despues) { %>
      <a href="<%= `${protocol}://${host}/${tipo}/${despues.Url}` %>" role="link" class="anuncio__button anuncio__button--after" title="<%= `${despues.Titulo} | Oladeg` %>">
        <p><%= `${despues.Titulo}` %></p>
        <span>&gt;</span>
      </a>
    <% } else { %>
      <a href="" role="link" class="anuncio__button anuncio__button--after anuncio__button--disabled" title="">
      </a>
    <% } %>
</div>