<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
	<!-- Brand Logo -->
	<a href="<%= ROUTES.ADMIN %>" class="brand-link elevation-4">
		<img
			src="/dist/icons/favicon.jpg"
			alt="AdminLTE Logo"
			class="brand-image img-circle elevation-3"
			style="opacity: 0.8"
		/>
		<span class="brand-text font-weight-light">Oladeg</span>
	</a>
	<!-- Sidebar -->
	<div class="sidebar">
		<!-- Sidebar user (optional) -->
		<div class="user-panel mt-3 pb-3 mb-3 d-flex">
			<div class="image">
				<img
					src="/dist/images/no-profile.png"
					class="img-circle elevation-2"
					alt="User Image"
				/>
			</div>
			<div class="info">
				<a href="#" class="d-block"
					><%= user.nombre + " " + user.apellido %></a
				>
			</div>
		</div>

		<!-- SidebarSearch Form -->
		<div class="form-inline">
			<div class="input-group" data-widget="sidebar-search">
				<input
					class="form-control form-control-sidebar"
					type="search"
					placeholder="Search"
					aria-label="Search"
				/>
				<div class="input-group-append">
					<button class="btn btn-sidebar">
						<i class="fas fa-search fa-fw"></i>
					</button>
				</div>
			</div>
		</div>

		<!-- Sidebar Menu -->
		<nav class="mt-2">
			<ul
				class="nav nav-pills nav-sidebar flex-column"
				data-widget="treeview"
				role="menu"
				data-accordion="false"
			>
				<!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
				<li class="nav-header">GESTIÓN INTERNA</li>
				<li class="nav-item">
					<% let regex = new RegExp(ROUTES.PERFIL) %>
					<a
						href="#"
						class="nav-link <%= req.path.match(regex) ? 'active' : '' %>"
					>
						<i class="nav-icon fas fa-user"></i>
						<p>
							Perfil
							<i class="right fas fa-angle-left"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a
								href="/adminlte/index.html"
								class="nav-link <%= req.path === ROUTES.PERFIL ? 'active' : '' %>"
							>
								<i class="far fa-circle nav-icon"></i>
								<p>Editar Perfil</p>
							</a>
						</li>
						<li class="nav-item">
							<a
								href="/adminlte/index2.html"
								class="nav-link <%= req.path === ROUTES.CHANGE_PASSWORD_PERFIL ? 'active' : '' %>"
							>
								<i class="far fa-circle nav-icon"></i>
								<p>Cambiar Password</p>
							</a>
						</li>
						<li class="nav-item">
							<a
								href="/adminlte/index3.html"
								class="nav-link <%= req.path === ROUTES.CHANGE_IMAGEN_PERFIL ? 'active' : '' %>"
							>
								<i class="far fa-circle nav-icon"></i>
								<p>Editar Imagen</p>
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-item">
					<a
						href="<%= ROUTES.USERS_ADMIN %>"
						class="nav-link <%= req.path === ROUTES.USERS_ADMIN ? 'active' : '' %>"
					>
						<i class="nav-icon fas fa-users"></i>
						<p>Usuarios</p>
					</a>
				</li>
				<li class="nav-header">WEB INSTITUCIONAL</li>
				<li class="nav-item">
					<a
						href="<%= ROUTES.ANUNCIOS_ADMIN %>"
						class="nav-link <%= req.path === ROUTES.ANUNCIOS_ADMIN ? 'active' : '' %>"
					>
						<i class="nav-icon fas fa-globe"></i>
						<p>Anuncios</p>
					</a>
				</li>
				<li class="nav-item">
					<a
						href="<%= ROUTES.PROGRAMAS_ADMIN %>"
						class="nav-link <%= req.path === ROUTES.PROGRAMAS_ADMIN ? 'active' : '' %>"
					>
						<i class="nav-icon fas fa-school"></i>
						<p>Programas Académicos</p>
					</a>
				</li>
				<li class="nav-item">
					<a
						href="<%= ROUTES.LIBROS_ADMIN %>"
						class="nav-link <%= req.path === ROUTES.LIBROS_ADMIN ? 'active' : '' %>"
					>
						<i class="nav-icon fas fa-book"></i>
						<p>Libros</p>
					</a>
				</li>
				<li class="nav-header">CERRAR SESIÓN</li>
				<li class="nav-item">
					<form method="POST" action="<%= ROUTES.LOGOUT %>">
						<input type="hidden" name="_csrf" value="<%= csrfToken %>">
						<button
							type="submit"
							class="nav-link"
						>
							<i class="fas fa-power-off"></i>
							<p>Logout</p>
						</button>
					</form>
				</li>
			</ul>
		</nav>
		<!-- /.sidebar-menu -->
	</div>
	<!-- /.sidebar -->
</aside>
