<!DOCTYPE html>
<html lang="es">
	<%- include ('../partials/headView.ejs') %>
	<body>
		<%- include ('../layouts/headerView.ejs') %>
		<main>
			<div class="main">
				<div class="main__content container">
					<div class="boletin">
						<h1 class="boletin__title"><%= boletin.Titulo %></h1>
						<div class="boletin__content">
							<img
								src="<%= boletin.Portada %>"
								alt="<%= `Boletin ${boletin.Titulo}` %>"
							/>
							<div><%- boletin.Contenido %></div>
							<% if(boletin.Boletin){ %>
							<h2 class="boletin__download">
								<a
									target="_blank"
									href="<%= boletin.Boletin %>"
									title="<%= `Archivo ${boletin.Titulo} | Oladeg` %>"
									role="link"
									>Descargar Boletín</a
								>
							</h2>
							<% if (boletin.Boletin.substr(-3) === "pdf") { %>
							<div class="boletin__iframe">
								<canvas id="pdf-render2"></canvas>
								<div class="top-bar">
									<div class="page-info">
										Page <span id="page-num2"></span> of
										<span id="page-count2"></span>
									</div>
									<button class="btn" id="prev-page2">
										<i class="fas fa-arrow-circle-left"></i>
										Anterior
									</button>
									<button class="btn" id="next-page2">
										Siguiente
										<i
											class="fas fa-arrow-circle-right"
										></i>
									</button>
								</div>
							</div>
							<% } %> <%}%>
						</div>
						<%- include('../partials/twobuttons.ejs', {tipo:
						"boletin"}) %>
					</div>
					<%- include('../layouts/sidebarView.ejs') %>
				</div>
			</div>

			<%- include('../layouts/whatsapp.ejs') %>
		</main>
		<%- include('../layouts/footerView.ejs') %> <%-
		include('../layouts/scriptView.ejs') %>
	</body>
</html>
