<!DOCTYPE html>
<html lang="es">
<head>
  <%- include ('../partials/headView.ejs') %>
</head>
<body>
  <%- include ('../layouts/headerView.ejs') %>
  <main>
    <%- include('../layouts/banner2View.ejs', {variant: 'Boletines'}); %>
    
    <section class="boletines container">
      <h1 class="boletines__intro">Boletines</h1>
      <div class="boletines__grid">
        <div class="boletines__item appear-content">
          <h2 class="boletines__title"><a  href="<%= `${protocol}://${host}/boletin/gestión-estrategica-para-el-desarrollo-regional` %>" title="Gestión Estratégica para el Desarrollo Regional | Oladeg" role="link">"Gestión Estratégica para el Desarrollo Regional"</a></h2>
          <p class="boletines__time flex flex-ai-c">
            <img loading="lazy" src="/icons/Clock.svg" alt="Datetime Curso">
            <time datetime="2008-02-14 20:00" class="flex flex-ai-c"> AUGUST 31, 2016</time>
          </p>
          <div class="boletines__image">
            <a  href="<%= `${protocol}://${host}/boletin/gestión-estrategica-para-el-desarrollo-regional` %>" title="Gestión Estratégica para el Desarrollo Regional | Oladeg" role="link">
              <img loading="lazy" src="/images/boletin.jpg" alt="Boletin Gestión Estratégica para el Desarrollo Regional">
            </a>
          </div>
          <div class="boletines__button">
            <a  href="<%= `${protocol}://${host}/boletin/gestión-estrategica-para-el-desarrollo-regional` %>" title="Gestión Estratégica para el Desarrollo Regional | Oladeg" role="link" type="button" class="button">Más Información</a>
          </div>
        </div>
        <div class="boletines__item appear-content">
          <h2 class="boletines__title"><a  href="<%= `${protocol}://${host}/boletin/gestión-estrategica-para-el-desarrollo-regional` %>" title="Gestión Estratégica para el Desarrollo Regional | Oladeg" role="link">"Gestión Estratégica para el Desarrollo Regional"</a></h2>
          <p class="boletines__time flex flex-ai-c">
            <img loading="lazy" src="/icons/Clock.svg" alt="Datetime Curso">
            <time datetime="2008-02-14 20:00" class="flex flex-ai-c"> AUGUST 31, 2016</time>
          </p>
          <div class="boletines__image">
            <a  href="<%= `${protocol}://${host}/boletin/gestión-estrategica-para-el-desarrollo-regional` %>" title="Gestión Estratégica para el Desarrollo Regional | Oladeg" role="link">
              <img loading="lazy" src="/images/boletin.jpg" alt="Boletin Gestión Estratégica para el Desarrollo Regional">
            </a>
          </div>
          <div class="boletines__button">
            <a  href="<%= `${protocol}://${host}/boletin/gestión-estrategica-para-el-desarrollo-regional` %>" title="Gestión Estratégica para el Desarrollo Regional | Oladeg" role="link" type="button" class="button">Más Información</a>
          </div>
        </div>
        <div class="boletines__item appear-content">
          <h2 class="boletines__title"><a  href="<%= `${protocol}://${host}/boletin/gestión-estrategica-para-el-desarrollo-regional` %>" title="Gestión Estratégica para el Desarrollo Regional | Oladeg" role="link">"Gestión Estratégica para el Desarrollo Regional"</a></h2>
          <p class="boletines__time flex flex-ai-c">
            <img loading="lazy" src="/icons/Clock.svg" alt="Datetime Curso">
            <time datetime="2008-02-14 20:00" class="flex flex-ai-c"> AUGUST 31, 2016</time>
          </p>
          <div class="boletines__image">
            <a  href="<%= `${protocol}://${host}/boletin/gestión-estrategica-para-el-desarrollo-regional` %>" title="Gestión Estratégica para el Desarrollo Regional | Oladeg" role="link">
              <img loading="lazy" src="/images/boletin.jpg" alt="Boletin Gestión Estratégica para el Desarrollo Regional">
            </a>
          </div>
          <div class="boletines__button">
            <a  href="<%= `${protocol}://${host}/boletin/gestión-estrategica-para-el-desarrollo-regional` %>" title="Gestión Estratégica para el Desarrollo Regional | Oladeg" role="link" type="button" class="button">Más Información</a>
          </div>
        </div>
        <div class="boletines__item appear-content">
          <h2 class="boletines__title"><a  href="<%= `${protocol}://${host}/boletin/gestión-estrategica-para-el-desarrollo-regional` %>" title="Gestión Estratégica para el Desarrollo Regional | Oladeg" role="link">"Gestión Estratégica para el Desarrollo Regional"</a></h2>
          <p class="boletines__time flex flex-ai-c">
            <img loading="lazy" src="/icons/Clock.svg" alt="Datetime Curso">
            <time datetime="2008-02-14 20:00" class="flex flex-ai-c"> AUGUST 31, 2016</time>
          </p>
          <div class="boletines__image">
            <a  href="<%= `${protocol}://${host}/boletin/gestión-estrategica-para-el-desarrollo-regional` %>" title="Gestión Estratégica para el Desarrollo Regional | Oladeg" role="link">
              <img loading="lazy" src="/images/boletin.jpg" alt="Boletin Gestión Estratégica para el Desarrollo Regional">
            </a>
          </div>
          <div class="boletines__button">
            <a  href="<%= `${protocol}://${host}/boletin/gestión-estrategica-para-el-desarrollo-regional` %>" title="Gestión Estratégica para el Desarrollo Regional | Oladeg" role="link" type="button" class="button">Más Información</a>
          </div>
        </div>
        <div class="boletines__item appear-content">
          <h2 class="boletines__title"><a  href="<%= `${protocol}://${host}/boletin/gestión-estrategica-para-el-desarrollo-regional` %>" title="Gestión Estratégica para el Desarrollo Regional | Oladeg" role="link">"Gestión Estratégica para el Desarrollo Regional"</a></h2>
          <p class="boletines__time flex flex-ai-c">
            <img loading="lazy" src="/icons/Clock.svg" alt="Datetime Curso">
            <time datetime="2008-02-14 20:00" class="flex flex-ai-c"> AUGUST 31, 2016</time>
          </p>
          <div class="boletines__image">
            <a  href="<%= `${protocol}://${host}/boletin/gestión-estrategica-para-el-desarrollo-regional` %>" title="Gestión Estratégica para el Desarrollo Regional | Oladeg" role="link">
              <img loading="lazy" src="/images/boletin.jpg" alt="Boletin Gestión Estratégica para el Desarrollo Regional">
            </a>
          </div>
          <div class="boletines__button">
            <a  href="<%= `${protocol}://${host}/boletin/gestión-estrategica-para-el-desarrollo-regional` %>" title="Gestión Estratégica para el Desarrollo Regional | Oladeg" role="link" type="button" class="button">Más Información</a>
          </div>
        </div>
        <div class="boletines__item appear-content">
          <h2 class="boletines__title"><a  href="<%= `${protocol}://${host}/boletin/gestión-estrategica-para-el-desarrollo-regional` %>" title="Gestión Estratégica para el Desarrollo Regional | Oladeg" role="link">"Gestión Estratégica para el Desarrollo Regional"</a></h2>
          <p class="boletines__time flex flex-ai-c">
            <img loading="lazy" src="/icons/Clock.svg" alt="Datetime Curso">
            <time datetime="2008-02-14 20:00" class="flex flex-ai-c"> AUGUST 31, 2016</time>
          </p>
          <div class="boletines__image">
            <a  href="<%= `${protocol}://${host}/boletin/gestión-estrategica-para-el-desarrollo-regional` %>" title="Gestión Estratégica para el Desarrollo Regional | Oladeg" role="link">
              <img loading="lazy" src="/images/boletin.jpg" alt="Boletin Gestión Estratégica para el Desarrollo Regional">
            </a>
          </div>
          <div class="boletines__button">
            <a  href="<%= `${protocol}://${host}/boletin/gestión-estrategica-para-el-desarrollo-regional` %>" title="Gestión Estratégica para el Desarrollo Regional | Oladeg" role="link" type="button" class="button">Más Información</a>
          </div>
        </div>
      </div>
      <%- include('../partials/buttonsView.ejs') %>
    </section>
    <%- include('../layouts/whatsapp.ejs') %>
  </main> 
  <%- include('../layouts/footerView.ejs') %>
  <%- include('../layouts/scriptView.ejs') %>
</body>
</html>
