<!DOCTYPE html>
<html lang="es">
	<%- include ('../partials/headView.ejs') %>
	<body>
		<%- include ('../layouts/headerView.ejs') %>
		<main>
			<%- include('../layouts/bannerView.ejs') %>
			<div class="main">
				<h1 class="container" style="font-weight: bolder;">Consultorías</h1>
				<div class="main__content container">
					<div class="consultorias">
						<p>
							Desarrollamos servicios de consultoría especializada
							en temas de gestión, planificación, monitoreo,
							evaluación y sistematización de experiencias de
							programas y proyectos sociales. Algunas consultorías
							realizadas en los últimos años son:
						</p>
						<ul>
							<li>
								Acompañamiento y Facilitación de los Procesos de
								Planeamiento Estratégico de ocho (8)
								organizaciones sin fines de lucro en Lima
								vinculadas al Grupo Fundades (Grupo FUNDADES)
							</li>
							<li>
								Evaluación Final del Proyecto “Concertación para
								el Desarrollo Integral de las Mujeres de la
								Microcuenca del Rio Vilca” (Cáritas Diocesana
								Huancavelica)
							</li>
							<li>
								Sistematización del Proyecto “Concertación para
								el Desarrollo Integral de las Mujeres de la
								Microcuenca del Rio Vilca” (Cáritas Diocesana
								Huancavelica)
							</li>
							<li>
								Facilitación del Taller de Planificación
								Operativa Anual de ANDES – CUSCO. (ANDES Cusco
							</li>
							<li>
								Evaluación Ex – Post del “Proyecto Integral para
								la Promoción de Medios de Vida Sostenibles y
								Reducción de la Pobreza en la Naciente de la
								Cuenca del Río Llaucano” – Proyecto Yachán
								(Soluciones Prácticas – ITDG)
							</li>
							<li>
								Acompañamiento y Facilitación de los Procesos de
								Planeamiento Estratégico de ocho (8)
								organizaciones sin fines de lucro en Lima
								vinculadas al Grupo Fundades (Grupo FUNDADES)
							</li>
							<li>
								Evaluación Final del Proyecto “Concertación para
								el Desarrollo Integral de las Mujeres de la
								Microcuenca del Rio Vilca” (Cáritas Diocesana
								Huancavelica)
							</li>
							<li>
								Sistematización del Proyecto “Concertación para
								el Desarrollo Integral de las Mujeres de la
								Microcuenca del Rio Vilca” (Cáritas Diocesana
								Huancavelica)
							</li>
							<li>
								Facilitación del Taller de Planificación
								Operativa Anual de ANDES – CUSCO. (ANDES Cusco
							</li>
							<li>
								Evaluación Ex – Post del “Proyecto Integral para
								la Promoción de Medios de Vida Sostenibles y
								Reducción de la Pobreza en la Naciente de la
								Cuenca del Río Llaucano” – Proyecto Yachán
								(Soluciones Prácticas – ITDG)
							</li>
						</ul>
					</div>
					<%- include('../layouts/sidebarView.ejs') %>
				</div>
			</div>

			<%- include('../layouts/whatsapp.ejs') %>
		</main>
		<%- include('../layouts/footerView.ejs') %> <%-
		include('../layouts/scriptView.ejs') %>
	</body>
</html>
