<!DOCTYPE html>
<html lang="es">
<head>
  <%- include ('../partials/headView.ejs') %>
</head>
<body>
  <%- include ('../layouts/headerView.ejs') %>
  <main>
    <%- include('../layouts/banner2View.ejs', {variant: 'Diplomados'}); %>
    <div class="main__content container">
      <section class="cursos">
        <h1 class="cursos__intro">Diplomados</h1>
        <% if(diplomados.length !== 0) { %>
          <div class="cursos__grid">
            <% diplomados.forEach(function(diplomado) {  %>
              <div class="cursos__item appear-content">
                <h2 class="cursos__title"><a  href="<%= `${protocol}://${host}/diplomado/${diplomado.Url}` %>" title="<%`${diplomado.Titulo}`%> | Oladeg" role="link">"<%= diplomado.Titulo %>"</a></h2>
                <p class="cursos__time flex flex-ai-c">
                  <img loading="lazy" src="/icons/Clock.svg" alt="Datetime Diplomado">
                  <time datetime="<%= diplomado.created_at %>" class="flex flex-ai-c"><%= `${diplomado.fecha_month} ${diplomado.fecha_date}, ${diplomado.fecha_year}`%></time>
                </p>
                <div class="cursos__image">
                  <a  href="<%= `${protocol}://${host}/diplomado/${diplomado.Url}` %>" title="<%= `${diplomado.Titulo} | Oladeg` %>" role="link">
                    <img loading="lazy" src="<%= diplomado.Portada %>" alt="<%= `Diplomado ${diplomado.Titulo}` %>">
                  </a>
                </div>
                <div class="cursos__button">
                  <a  href="<%= `${protocol}://${host}/diplomado/${diplomado.Url}` %>" title="<%= `${diplomado.Titulo} | Oladeg` %>" role="link" type="button" class="button">Más Información</a>
                </div>
              </div>
            <% }) %> 
          </div>
          <%- include('../partials/buttonsView.ejs') %>
        <% } %>
      </section>
      <%- include('../layouts/sidebarView.ejs') %>
    </div>
    <%- include('../layouts/whatsapp.ejs') %>
  </main> 
  <%- include('../layouts/footerView.ejs') %>
  <%- include('../layouts/scriptView.ejs') %>

</body>
</html>
