<!DOCTYPE html>
<html lang="es">
<head>
  <%- include ('../partials/headView.ejs') %>
</head>
<body>
  <%- include ('../layouts/headerView.ejs') %>
  <main>
    <section class="curso">
      <div class="curso__image flex flex-ai-c flex-jc-c">
        <div class="curso__image-subcontainer">
          <img loading="lazy" src="/images/diplomado.jpg" alt="Diplomado Inventario de Bienes Inmuebles en el Sector Público">          
        </div>
      </div>
      <div class="curso__text flex flex-ai-c flex-jc-c">
        <div class="curso__text-subcontainer">
          <div class="curso__intro">ESPECIALIZACIÓN</div>
          <h1 class="curso__title">"Inventario de Bienes Inmuebles en el Sector Público"</h1>
          <div class="curso__description"><p>Las necesidades en infraestructura, bienes inmuebles, equipos y maquinarias, insumos, medicamentos y personal, mostraron la real situación carente que se encuentra el Estado, todo esto por resolver de manera inmediata.</p>
          <p>Un Inventario Sincerado de Bienes Inmuebles habría ayudado que el Gobierno Central tome decisiones inmediatas y tener la capacidad de respuesta ante esta Pandemia.</p>
          </p>Es Urgente realizar la actualización del Inventario Nacional, para el cual debemos contar con procedimientos, manuales, fichas, capacitar y certificar al personal contratado CAS, en las diversas instituciones del Gobierno Nacional, Unidades Ejecutoras, Gobiernos Regionales y Gobiernos Locales.<p></div>
        </div>
      </div>
    </section>
    <section class="detalles">
      <div class="detalles__text">
        <div class="detalles__tabs">
          <ul class="flex flex-ai-c">
            <li class="detalles__trigger detalles__trigger--active" data-target="inicio">INICIO</li>
            <li class="detalles__trigger" data-target="inscripcion">INSCRIPCIÓN</li>
            <li class="detalles__trigger" data-target="temario">TEMARIO</li>
            <li class="detalles__trigger" data-target="materiales">MATERIALES</li>
            <li class="detalles__trigger" data-target="promocion">PROMOCIÓN</li>
            <li class="detalles__trigger" data-target="metodologia">METODOLOGÍA</li>
            <li class="detalles__trigger" data-target="expositor">EXPOSITOR</li>
          </ul>
        </div>
        <div class="detalles__dropdown">
          <h2 class="detalles__trigger detalles__trigger--active" data-target="inicio">INICIO<span class="detalles__span detalles__span--active">&#62;</span></h2>
          <div class="detalles__content detalles__content--inicio detalles__content--active">
            <div class="detalles__inversion flex flex-ai-c">
              <div class="">
                <div class="flex flex-jc-c flex-ai-c">
                  <img src="/images/Dinero.svg" alt="Inversion Oladeg">
                </div>
              </div>
              <div>
                <h3>INVERSIÓN:</h3>
                <p>Pago Único S/. 200.00 Inscripción 1ero cuota S/100.00 y dos cuotas de S./ 50.00  </p>
              </div>
            </div>
            <div class="detalles__duracion flex flex-ai-c">
              <div class="">
                <div class="flex flex-jc-c flex-ai-c">
                  <img src="/images/Duracion.svg" alt="Inversion Oladeg">
                </div>
              </div>
              <div>
                <h3>DURACIÓN:</h3>
                <p>04 Módulos - 02 Meses</p>
              </div>
            </div>
            <div class="detalles__fecha flex flex-ai-c">
              <div class="">
                <div class="flex flex-jc-c flex-ai-c">
                  <img src="/images/Fecha.svg" alt="Inversion Oladeg">
                </div>
              </div>
              <div>
                <h3>FECHA DE INICIO:</h3>
                <p>1 de Marzo Horario: 6:00 pm a 10:00 pm</p>
              </div>
            </div>
            <div class="detalles__modalidad flex flex-ai-c">
              <div class="">
                <div class="flex flex-jc-c flex-ai-c">
                  <img src="/images/Modalidad.svg" alt="Inversion Oladeg">
                </div>
              </div>
              <div>
                <h3>MODALIDAD:</h3>
                <p>Virtual</p>
              </div>
            </div>
          </div>
        </div>
        <div class="detalles__dropdown">
          <h2 class="detalles__trigger" data-target="inscripcion">INSCRIPCIÓN<span class="detalles__span">&#62;</span></h2>
          <div class="detalles__content detalles__content--inscripcion">
            <h3>PASOS PARA INSCRIBIRSE</h3>
            <ul>
              <li>Realizar el pago vía agente, ventanilla o cajero en alguna de nuestras cuentas bancarias disponibles en: <a href="">https://www.oladeg.org/forma-de-pago/</a></li>
              <li>Rellenar datos en la ficha de inscripción <a href="">ficha_de_inscripcion.pdf</a></li>
              <li>Remitir la ficha de inscripción vía correo electrónico a: <a href="">oladegperucapacitacion@gmail.com</a></li>
              <li>Nosotros responderemos en 30 minutos en promedio confirmando su inscripción al curso.</li>
              <p><strong>***La Inscripción se hará efectiva cuando se abone el costo del curso previo envió escaneado del Comprobante de Depósito en la Ficha de Inscripción.***</strong></p>
            </ul> 
          </div>
        </div>
        <div class="detalles__dropdown">
          <h2 class="detalles__trigger" data-target="temario">TEMARIO<span class="detalles__span">&#62;</span></h2>
          <div class="detalles__content detalles__content--temario">
            <h3>MODULO I</h3>
            <ul>
              <li>INVENTARIO FISICO DE BIENES INMUEBLES</li>
            </ul>
            <h3>MODULO II</h3>
            <ul>
              <li>SANEAMIENTO.</li>
            </ul>
            <h4>MODULO III</h4>
            <h5>MODULO III</h5>
            <h6>MODULO III</h6>
            <p>sadasdsa</p>
          </div>
        </div>
        <div class="detalles__dropdown">
          <h2 class="detalles__trigger" data-target="materiales">MATERIALES<span class="detalles__span">&#62;</span></h2>
          <div class="detalles__content detalles__content--materiales">
           <h3>MATERIALES A ENTREGAR</h3>
           <ul>
             <li>Guía del participante</li>
             <li>Módulos auto instructivos</li>
             <li>Las lecturas o documentos especializados sobre la temática del Curso</li>
             <li>Diploma y Certificado por la 100 Horas lectivas correspondiente a nombre de la "Escuela Latinomericano de Gestión" de OLADEG. Para los participantes de Provincia se enviara por Olva Courrier</li>
           </ul>
           <p><strong>***La Inscripción se hará efectiva cuando se abone el costo del curso previo envió escaneado del Comprobante de Depósito en la Ficha de Inscripción.***</strong></p>
          </div>
        </div>
        <div class="detalles__dropdown">
          <h2 class="detalles__trigger" data-target="promocion">PROMOCIÓN<span class="detalles__span">&#62;</span></h2>
          <div class="detalles__content detalles__content--promocion">
           <h3>BECA OLADEG</h3>
           <p>Con el interés de promover y facilitar, LA BECA OLADEG financia el 50% del costo total del Curso, bjo las siguientes modalidades</p><br>
           <ul>
             <li>Enviar la solicitud de Beca, hasta el día 20 de Marzo del 2019</li>
             <li>Dirigentes de Comunidades adjuntar su credencial vigente</li>
             <li>Trabajadores de Empresas Comunales</li>
           </ul>
          </div>
        </div>  
        <div class="detalles__dropdown">
          <h2 class="detalles__trigger" data-target="metodologia">METODOLOGÍA<span class="detalles__span">&#62;</span></h2>
          <div class="detalles__content detalles__content--metodologia">
           <ul>
             <li>Mediante el uso de la herramienta del Internet Ud. Interactuará en el lugar de su
   trabajo, domicilio o lugar donde se encuentra, Sistema a Distancia Virtual mediante
   el Tutor del Curso.</li>
             <li>Clases impartidas en sesiones virtuales vía plataforma Zoom y material
   de trabajo(ppt, pdf, Excel, Word, etc).</li>
             <li> Campus virtual activa las 24 horas del día y los 7 días de la semana.
</li>
             <li>Videos Grabados.</li>
             <li>Curso con una duración de ocho (07) semanas, con un contenido de 75 horas lectivas, realizadas cada dos veces por semana (Lunes y Miércoles) de 20h a 22h.</li>
           </ul>
          </div>
        </div>
        <div class="detalles__dropdown">
          <h2 class="detalles__trigger" data-target="expositor">EXPOSITOR<span class="detalles__span">&#62;</span></h2>
          <div class="detalles__content detalles__content--expositor">
            <div class="wrapper">
              <div class="image flex flex-fd-c flex-jc-c flex-ai-c">
                <img loading="lazy" src="/images/expositor.jpg" alt="Expositor Curso Oladeg">
                <h2>DR. PEDRO PABLO CHAPI CHOQUE</h1>
              </div>
              <div class="description">
                <p>Especialista en SSOMAC. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque porttitor erat vel neque sodales aliquet. Phasellus maximus elit eget felis fermentum semper. Pellentesque lectus odio, hendrerit interdum interdum a, sagittis quis nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Suspendisse vestibulum viverra sollicitudin. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="detalles__image flex flex-ai-c flex-jc-c">
        <img src="/images/certificado.jpg" alt="Certificado Implementación del Sistema de Gestion de Seguridad y Salud Ocupacional">
      </div>
    </section>
   
    <%- include('../layouts/whatsapp.ejs') %>
  </main> 
  <%- include('../layouts/footerView.ejs') %>
  <%- include('../layouts/scriptView.ejs') %>

</body>
</html>
