<!DOCTYPE html>
<html lang="es">
<head>
  <%- include ('../partials/headView.ejs') %>
</head>
<body>
  <%- include ('../layouts/headerView.ejs') %>
  <main>
    <%- include('../layouts/banner2View.ejs', {variant: 'Especializaciones'}); %>
    
    <div class="cursos container">
      <h1 class="cursos__intro">Especializaciones</h1>
      <div class="cursos__grid">
        <div class="cursos__item appear-content">
          <h2 class="cursos__title"><a  href="<%= `${protocol}://${host}/especializacion/inventario-de-bienes-inmuebles-en-el-sector-público` %>" title="Inventario de Bienes Inmuebles en el Sector Público | Oladeg" role="link">"INVENTARIO DE BIENES INMUEBLES EN EL SECTOR PÚBLICO"</a></h2>
          <p class="cursos__time flex flex-ai-c">
            <img loading="lazy" src="/icons/Clock.svg" alt="Datetime Diplomado">
            <time datetime="2008-02-14 20:00" class="flex flex-ai-c"> AUGUST 31, 2016</time>
          </p>
          <div class="cursos__image">
            <a  href="<%= `${protocol}://${host}/especializacion/inventario-de-bienes-inmuebles-en-el-sector-público` %>" title="Inventario de Bienes Inmuebles en el Sector Público | Oladeg" role="link">
              <img loading="lazy" src="/images/diplomado.jpg" alt="Diplomado Inventario de Bienes Inmuebles en el Sector Público">
            </a>
          </div>
          <div class="cursos__button">
            <a  href="<%= `${protocol}://${host}/especializacion/inventario-de-bienes-inmuebles-en-el-sector-público` %>" title="Inventario de Bienes Inmuebles en el Sector Público | Oladeg" role="link" type="button" class="button">Más Información</a>
          </div>
        </div>
        <div class="cursos__item appear-content">
          <h2 class="cursos__title"><a  href="<%= `${protocol}://${host}/especializacion/inventario-de-bienes-inmuebles-en-el-sector-público` %>" title="Inventario de Bienes Inmuebles en el Sector Público | Oladeg" role="link">"INVENTARIO DE BIENES INMUEBLES EN EL SECTOR PÚBLICO"</a></h2>
          <p class="cursos__time flex flex-ai-c">
            <img loading="lazy" src="/icons/Clock.svg" alt="Datetime Diplomado">
            <time datetime="2008-02-14 20:00" class="flex flex-ai-c"> AUGUST 31, 2016</time>
          </p>
          <div class="cursos__image">
            <a  href="<%= `${protocol}://${host}/especializacion/inventario-de-bienes-inmuebles-en-el-sector-público` %>" title="Inventario de Bienes Inmuebles en el Sector Público | Oladeg" role="link">
              <img loading="lazy" src="/images/diplomado.jpg" alt="Diplomado Inventario de Bienes Inmuebles en el Sector Público">
            </a>
          </div>
          <div class="cursos__button">
            <a  href="<%= `${protocol}://${host}/especializacion/inventario-de-bienes-inmuebles-en-el-sector-público` %>" title="Inventario de Bienes Inmuebles en el Sector Público | Oladeg" role="link" type="button" class="button">Más Información</a>
          </div>
        </div>
        <div class="cursos__item appear-content">
          <h2 class="cursos__title"><a  href="<%= `${protocol}://${host}/especializacion/inventario-de-bienes-inmuebles-en-el-sector-público` %>" title="Inventario de Bienes Inmuebles en el Sector Público | Oladeg" role="link">"INVENTARIO DE BIENES INMUEBLES EN EL SECTOR PÚBLICO"</a></h2>
          <p class="cursos__time flex flex-ai-c">
            <img loading="lazy" src="/icons/Clock.svg" alt="Datetime Diplomado">
            <time datetime="2008-02-14 20:00" class="flex flex-ai-c"> AUGUST 31, 2016</time>
          </p>
          <div class="cursos__image">
            <a  href="<%= `${protocol}://${host}/especializacion/inventario-de-bienes-inmuebles-en-el-sector-público` %>" title="Inventario de Bienes Inmuebles en el Sector Público | Oladeg" role="link">
              <img loading="lazy" src="/images/diplomado.jpg" alt="Diplomado Inventario de Bienes Inmuebles en el Sector Público">
            </a>
          </div>
          <div class="cursos__button">
            <a  href="<%= `${protocol}://${host}/especializacion/inventario-de-bienes-inmuebles-en-el-sector-público` %>" title="Inventario de Bienes Inmuebles en el Sector Público | Oladeg" role="link" type="button" class="button">Más Información</a>
          </div>
        </div>
        <div class="cursos__item appear-content">
          <h2 class="cursos__title"><a  href="<%= `${protocol}://${host}/especializacion/inventario-de-bienes-inmuebles-en-el-sector-público` %>" title="Inventario de Bienes Inmuebles en el Sector Público | Oladeg" role="link">"INVENTARIO DE BIENES INMUEBLES EN EL SECTOR PÚBLICO"</a></h2>
          <p class="cursos__time flex flex-ai-c">
            <img loading="lazy" src="/icons/Clock.svg" alt="Datetime Diplomado">
            <time datetime="2008-02-14 20:00" class="flex flex-ai-c"> AUGUST 31, 2016</time>
          </p>
          <div class="cursos__image">
            <a  href="<%= `${protocol}://${host}/especializacion/inventario-de-bienes-inmuebles-en-el-sector-público` %>" title="Inventario de Bienes Inmuebles en el Sector Público | Oladeg" role="link">
              <img loading="lazy" src="/images/diplomado.jpg" alt="Diplomado Inventario de Bienes Inmuebles en el Sector Público">
            </a>
          </div>
          <div class="cursos__button">
            <a  href="<%= `${protocol}://${host}/especializacion/inventario-de-bienes-inmuebles-en-el-sector-público` %>" title="Inventario de Bienes Inmuebles en el Sector Público | Oladeg" role="link" type="button" class="button">Más Información</a>
          </div>
        </div>
      </div>
      <%- include('../partials/buttonsView.ejs') %>
    </div>
    <%- include('../layouts/whatsapp.ejs') %>
  </main> 
  <%- include('../layouts/footerView.ejs') %>
  <%- include('../layouts/scriptView.ejs') %>
</body>
</html>
