<!DOCTYPE html>
<html lang="es">
<head>
  <%- include ('../partials/headView.ejs') %>
</head>
<body>
  <%- include ('../layouts/headerView.ejs') %>
  <main>
    <section class="curso">
      <div class="curso__image flex flex-ai-c flex-jc-c">
        <div class="curso__image-subcontainer">
          <img loading="lazy" src="<%= especializacion.Portada %>" alt="<%= `Especializacion ${especializacion.Titulo}` %>">          
        </div>
      </div>
      <div class="curso__text flex flex-ai-c flex-jc-c">
        <div class="curso__text-subcontainer">
          <div class="curso__intro">ESPECIALIZACIÓN</div>
          <h1 class="curso__title">"<%= especializacion.Titulo %>"</h1>
          <div class="curso__description">
            <%- especializacion.Descripcion %>
          </div>
        </div>
      </div>
    </section>
    <section class="detalles">
      <div class="detalles__text">
        <div class="detalles__tabs">
          <ul class="flex flex-ai-c">
            <li class="detalles__trigger detalles__trigger--active" data-target="inicio">INICIO</li>
            <li class="detalles__trigger" data-target="inscripcion">INSCRIPCIÓN</li>
            <li class="detalles__trigger" data-target="temario">TEMARIO</li>
            <li class="detalles__trigger" data-target="materiales">MATERIALES</li>
            <li class="detalles__trigger" data-target="promocion">PROMOCIÓN</li>
            <li class="detalles__trigger" data-target="metodologia">METODOLOGÍA</li>
            <li class="detalles__trigger" data-target="expositor">EXPOSITOR</li>
          </ul>
        </div>
        <div class="detalles__dropdown">
          <h2 class="detalles__trigger detalles__trigger--active" data-target="inicio">INICIO<span class="detalles__span detalles__span--active">&#62;</span></h2>
          <div class="detalles__content detalles__content--inicio detalles__content--active">
            <div class="detalles__inversion flex flex-ai-c">
              <div class="">
                <div class="flex flex-jc-c flex-ai-c">
                  <img src="/dist/images/Dinero.svg" alt="Inversion Oladeg">
                </div>
              </div>
              <div>
                <h3>INVERSIÓN:</h3>
                <p><%= especializacion.Inversion %></p>
              </div>
            </div>
            <div class="detalles__duracion flex flex-ai-c">
              <div class="">
                <div class="flex flex-jc-c flex-ai-c">
                  <img src="/dist/images/Duracion.svg" alt="Inversion Oladeg">
                </div>
              </div>
              <div>
                <h3>DURACIÓN:</h3>
                <p><%= especializacion.Duracion %></p>
              </div>
            </div>
            <div class="detalles__fecha flex flex-ai-c">
              <div class="">
                <div class="flex flex-jc-c flex-ai-c">
                  <img src="/dist/images/Fecha.svg" alt="Inversion Oladeg">
                </div>
              </div>
              <div>
                <h3>FECHA DE INICIO:</h3>
                <p><%= `${especializacion.inicio_date} de ${especializacion.inicio_month} del ${especializacion.inicio_year} Hora: ${especializacion.inicio_hour}:${especializacion.inicio_minute} ${especializacion.inicio_horario}` %></p>
              </div>
            </div>
            <div class="detalles__modalidad flex flex-ai-c">
              <div class="">
                <div class="flex flex-jc-c flex-ai-c">
                  <img src="/dist/images/Modalidad.svg" alt="Inversion Oladeg">
                </div>
              </div>
              <div>
                <h3>MODALIDAD:</h3>
                <p><%= especializacion.Modalidad %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="detalles__dropdown">
          <h2 class="detalles__trigger" data-target="inscripcion">INSCRIPCIÓN<span class="detalles__span">&#62;</span></h2>
          <div class="detalles__content detalles__content--inscripcion">
            <%- especializacion.Inscripcion %>
          </div>
        </div>
        <div class="detalles__dropdown">
          <h2 class="detalles__trigger" data-target="temario">TEMARIO<span class="detalles__span">&#62;</span></h2>
          <div class="detalles__content detalles__content--temario">
             <%- especializacion.Temario %>
          </div>
        </div>
        <div class="detalles__dropdown">
          <h2 class="detalles__trigger" data-target="materiales">MATERIALES<span class="detalles__span">&#62;</span></h2>
          <div class="detalles__content detalles__content--materiales">
            <%- especializacion.Materiales %>
          </div>
        </div>
        <div class="detalles__dropdown">
          <h2 class="detalles__trigger" data-target="promocion">PROMOCIÓN<span class="detalles__span">&#62;</span></h2>
          <div class="detalles__content detalles__content--promocion">
            <%- especializacion.Promocion %>
          </div>
        </div>  
        <div class="detalles__dropdown">
          <h2 class="detalles__trigger" data-target="metodologia">METODOLOGÍA<span class="detalles__span">&#62;</span></h2>
          <div class="detalles__content detalles__content--metodologia">
            <%- especializacion.Metodologia %>
          </div>
        </div>
        <div class="detalles__dropdown">
          <h2 class="detalles__trigger" data-target="expositor">EXPOSITOR<span class="detalles__span">&#62;</span></h2>
          <div class="detalles__content detalles__content--expositor">
            <div class="wrapper">
              <div class="image flex flex-fd-c flex-jc-c flex-ai-c">
                <img loading="lazy" src="<%= especializacion.ImagenExpositor %>" alt="Expositor Especializacion Oladeg">
                <h2><%= especializacion.NombreExpositor %></h1>
              </div>
              <div class="description">
                <%- especializacion.DescripcionExpositor %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="detalles__image flex flex-ai-c flex-jc-c">
        <% if(especializacion.Certificado) { %>
          <img src="<%= especializacion.Certificado %>" alt="<% `Certificado Especializacion ${especializacion.Titulo}  ` %>">
        <% } %>
      </div>
    </section>
    <%- include('../partials/twobuttons.ejs', {tipo: "especializacion"}) %>
    <%- include('../layouts/whatsapp.ejs') %>
  </main> 
  <%- include('../layouts/footerView.ejs') %>
  <%- include('../layouts/scriptView.ejs') %>

</body>
</html>
