<!DOCTYPE html>
<html lang="es">
	<%- include ('../partials/headView.ejs') %>
	<body>
		<%- include ('../layouts/headerView.ejs') %>
		<main>
			<%- include('../layouts/bannerView.ejs') %>
			<div class="formas-de-pago container">
				<div class="formas-de-pago__intro">
					<h1>Depósito Bancario</h1>
					<p>
						Usted puede hacer sus pagos en las siguientes Cuentas
						Bancarias:
					</p>
				</div>
				<div class="formas-de-pago__grid">
					<div class="formas-de-pago__item">
						<div class="formas-de-pago__image">
							<img
								src="/dist/images/bbva.jpg"
								alt="BBVA Banco de la Nación"
							/>
						</div>
						<div class="formas-de-pago__text">
							<h3 class="formas-de-pago__banco">Banco BBVA</h3>
							<p class="formas-de-pago__ahorro">
								Cta. Ahorros(Titular):
							</p>
							<p class="formas-de-pago__nombre-cuenta">
								Roberth Robles Zelada
							</p>
							<button
								type="button"
								class="button formas-de-pago__button forma1"
							>
								Nº 0011-0321-0200871915
							</button>
							<p class="formas-de-pago__advertencia">
								HAZ CLICK AQUÍ PARA COPIAR ☝
							</p>
						</div>
					</div>
					<div class="formas-de-pago__item">
						<div class="formas-de-pago__image">
							<img src="/dist/images/bcp.jpg" alt="BCP Oladeg" />
						</div>
						<div class="formas-de-pago__text">
							<h3 class="formas-de-pago__banco">
								Banco de Crédito BCP
							</h3>
							<p class="formas-de-pago__ahorro">
								Cta. Ahorros(Titular):
							</p>
							<p class="formas-de-pago__nombre-cuenta">
								Roberth Robles Zelada
							</p>
							<button
								type="button"
								class="button formas-de-pago__button forma2"
							>
								N° 193-04142239-0-79
							</button>
							<p class="formas-de-pago__advertencia">
								HAZ CLICK AQUÍ PARA COPIAR ☝
							</p>
						</div>
					</div>
					<div class="formas-de-pago__item">
						<div class="formas-de-pago__image">
							<img
								src="/dist/images/banco_nacion.jpg"
								alt="Banco de la Nacion Oladeg"
							/>
						</div>
						<div class="formas-de-pago__text">
							<h3 class="formas-de-pago__banco">
								Banco de la Nación
							</h3>
							<p class="formas-de-pago__ahorro">
								Cta. Ahorros(Titular):
							</p>
							<p class="formas-de-pago__nombre-cuenta">
								Roberth Robles Zelada
							</p>
							<button
								type="button"
								class="button formas-de-pago__button forma3"
							>
								N° 04-501-214634
							</button>
							<p class="formas-de-pago__advertencia">
								HAZ CLICK AQUÍ PARA COPIAR ☝
							</p>
						</div>
					</div>
				</div>
				<input
					class="formas-de-pago__input"
					type="text"
					style="opacity: 0"
				/>
			</div>
			<%- include('../layouts/whatsapp.ejs') %>
		</main>
		<%- include('../layouts/footerView.ejs') %> <%-
		include('../layouts/scriptView.ejs') %>
	</body>
</html>
