<!DOCTYPE html>
<html lang="es">
	<%- include ('../partials/head.ejs') %>
	<body>
		<%- include ('../layouts/headerView.ejs') %>
		<main>
			<%- include('../layouts/bannerView.ejs') %>
			<div class="nuestra-experiencia">
				<div class="nuestra-experiencia__intro container">
					<h1>NUESTRA EXPERIENCIA</h1>
				</div>
				<div class="wrapper-nuestra container">
					<div class="nuestra-experiencia__text">
						<p>
							Experiencia en proveer asistencia técnica, asesoría,
							formación y Capacitación a los ciudadanos,
							autoridades, representantes de los gobiernos
							locales, comunidades campesinas, empresas comunales,
							cooperativas comunales.
						</p>
						<p>
							Impulsamos la aplicación de instrumentos de gestión,
							como son los Planes Concertados de Desarrollo,
							Planes Estratégico Institucional, Presupuestos,
							Control Ciudadana, Promover Empresas Comunales,
							Planes de Desarrollo de Capacidades, a partir de un
							enfoque caracterizado de una ciudadanía activa
							comprometida con las comunidades campesinas y los
							gobiernos locales.
						</p>
						<p>
							Trabajamos en una serie de competencias tales como
							la gestión de ideas, la gestión del dialogo, gestión
							de conflictos, administración y organización,
							autogestión, entre otras competencias.
						</p>
						<p>
							Desarrollo y Fortalecimiento de los Gobiernos
							Locales y Comunidades Campesinas, basado en sus
							necesidades de organizar, orientar y conducir un
							Gobierno Eficiente y sostenido con calidad de vida y
							ambiente saludable.
						</p>
					</div>
					<div class="nuestra-experiencia__image flex">
						<img
							src="/dist/images/roberth-experiencia2.png"
							alt="Nuestra Experiencia | Oladeg"
							width="300px"
						/>
					</div>
				</div>
			</div>

			<%- include('../layouts/whatsapp.ejs') %>
		</main>
		<%- include('../layouts/footerView.ejs') %> <%-
		include('../layouts/scriptView.ejs') %>
	</body>
</html>
