<!DOCTYPE html>
<html lang="es">
<head>
  <%- include ('../partials/headView.ejs') %>
</head>
<body>
  <%- include ('../layouts/headerView.ejs') %>
  <main>
    <%- include('../layouts/bannerView.ejs') %>
    <div class="nuestra-experiencia">
      <div class="nuestra-experiencia__intro container">
        <h1>NUESTRA EXPERIENCIA</h1>
      </div>
      <div class="wrapper-nuestra container">
        <div class="nuestra-experiencia__text">
          <p>Experiencia en proveer de asistencia técnica y de asesoría a los ciudadanos, autoridades, y representantes de los gobiernos locales, está integrado por Ex - Alcaldes, Lideres Sociales, Profesionales, Consultores y Especialistas en las diferentes áreas.</p>
          <h2>Fines y Objetivos</h2>
          <p><b>Los Fines y Objetivos de OLADEG-Perú son:</b></p>
          <ul>
            <li>Construir una Agenda Ciudadana, de los Gobiernos Locales y Comunidades Campesinas que incluya los siguientes:</li>
            <ul>
              <li>Desarrollo y Fortalecimiento de los Gobiernos Locales y Comunidades Campesinas, basado en sus necesidades de organizar, orientar y conducir un Gobierno Eficiente y sostenido con calidad de vida y ambiente saludable.</li>
              <li>Mantener vigente la Autonomía, Autodeterminación, Derechos Colectivos, Reciprocidad y velar por que se respeten.</li>
              <li>Desarrollar la identidad, la educación, cultura y salud Comunal y Políticas Públicas.</li>
              <li>Fortalecer a las Organizaciones Sociales, Comunidades Campesinas, Municipalidades y desarrollar los espacios de integración entre ellas, así como coordinación, participación y articulación en Políticas Públicas.</li>
            </ul>
            <li>Desarrollar acciones de incidencia Regional, Nacional e internacional a favor de las comunidades Campesinas y Gobiernos Locales.</li>
            <li>Ejercicio Pleno de la Autonomía y efectiva descentralización del estado a los Gobiernos Locales.</li>
            <li>Difundir los Derechos ciudadanos, de las comunidades y municipalidad instando al  Estado su reconocimiento, respeto y establecimiento en normas expresas para su cabal ejercicio.</li>
          </ul>
        </div>
        <div class="nuestra-experiencia__image flex">
          <img src="/images/Roberth-experiencia.jpg" alt="Nuestra Experiencia Oladeg" width="300px">
        </div>
      </div>
    </div>

    <%- include('../layouts/whatsapp.ejs') %>
  </main> 
  <%- include('../layouts/footerView.ejs') %>
  <%- include('../layouts/scriptView.ejs') %>

</body>
</html>
