<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/headAdmin.ejs') %>
	</head>
	<body class="hold-transition sidebar-mini layout-navbar-fixed">
		<!-- Site wrapper -->
		<div class="wrapper">
			<%- include ('../../views/layouts/navbarAdmin.ejs') %> <%-
			include('../../views/layouts/sidebarAdmin.ejs') %>

			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<!-- Content Header (Page header) -->
				<section class="content-header">
					<div class="container-fluid">
						<div class="row mb-2">
							<div class="col-sm-6">
								<h1>Editar Programa Académico</h1>
							</div>
							<div class="col-sm-6">
								<ol class="breadcrumb float-sm-right">form
										>
									</li>
									<li class="breadcrumb-item active">
										Editar Programa Académico
									</li>
								</ol>
							</div>
						</div>
					</div>
					<!-- /.container-fluid -->
				</section>

				<!-- Main content -->
				<section class="content">
					<div class="container-fluid">
						<div class="row">
							<div class="col-12">
								<%- include('../partials/mensajesFlash.ejs') %>
								<div class="card card-primary">
									<div class="card-header">
										<h3 class="card-title">Formulario</h3>
									</div>
									<!-- /.card-header -->
									<!-- form start -->
									<form
										method="POST"
									>
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
										<div class="card-body">
											<div class="form-group">
												<label for="titulo"
													>Título *</label
												>
												<input
													type="text"
													class="form-control"
													id="titulo"
													placeholder="Ingrese Título"
													name="titulo"
													value="<%= fields ? fields.titulo : programa ? programa.titulo : '' %>"
												/>
											</div>
											<div class="form-group">
												<label for="descripcion"
													>Descripcion *</label
												>
												<div class="row">
													<div
														class="col-12 col-md-6"
													>
														<textarea
															rows="10"
															class="form-control"
															id="descripcion"
															placeholder="Ej. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like 	 PageMaker including versions of Lorem Ipsum."
															name="descripcion"
														>
<%= fields ? fields.descripcion : programa ? programa.descripcion : '' %></textarea
														>
													</div>
												</div>
											</div>

											<div class="form-group row">
												<div class="col-12 col-md-6">
													<div class="form-group">
														<label for="inversion"
															>Inversion *</label
														>
														<input
															class="form-control"
															type="text"
															name="inversion"
															id="inversion"
															placeholder="Ej. 150"
															value="<%= fields ? fields.inversion : programa ? programa.inversion : '' %>"
														/>
													</div>
												</div>
												<div class="col-12 col-md-6">
													<div class="form-group">
														<label for="duracion"
															>Duracion *</label
														>

														<input
															class="form-control"
															type="text"
															name="duracion"
															id="duracion"
															placeholder="Ej. 07 Módulos - 07 Semanas"
															value="<%= fields ? fields.duracion : programa ? programa.duracion : '' %>"
														/>
													</div>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-12 col-md-6">
													<div class="form-group">
														<label for="fecha"
															>Fecha *</label
														>
														<input
															class="form-control"
															type="date"
															name="fecha"
															id="fecha"
															placeholder="Ingrese fecha de inicio"
															value="<%= fields ? fields.fecha : programa ? programa.fecha : '' %>"
														/>
													</div>
												</div>
												<div class="col-12 col-md-6">
													<div class="form-group">
														<label for="hora"
															>Hora *</label
														>
														<input
															class="form-control"
															type="time"
															name="hora"
															id="hora"
															placeholder="Ingrese hora de inicio"
															value="<%= fields ? fields.hora : programa ? programa.hora : '' %>"
														/>
													</div>
												</div>
											</div>
											<%if(user.isAdmin){ %>
												<div class="form-group">
													<label for="userId"
														>Autor *</label
													>
													<select class="form-control" name="userId" >
														<option value="" selected disabled>-- Elige un Autor --</option>
														<% users.forEach((user) => { %>
															<% if(fields){ %>
																<option value="<%= user.id %>" <%= String(fields.userId) === String(user.id) ? 'selected' : '' %>><%= user.nombre + ' ' + user.apellido %></option>
															<% }else if(programa){ %>
																<option value="<%= user.id %>" <%= String(programa.userId) === String(user.id) ? 'selected' : '' %>><%= user.nombre + ' ' + user.apellido %></option>                        
															<% } else { %>
																<option value="<%= user.id %>"><%= user.nombre + ' ' + user.apellido %></option>	
															<% } %>
														<% }) %>
													</select>
												</div>
											<% } %>

											<div class="form-group row">
												<div class="col-12 col-md-6">
													<div class="form-group">
														<label for="modalidad"
															>Modalidad *</label
														>
														<select class="form-control" name="modalidad" >
															<option value="" selected disabled>-- Elige una Modalidad --</option>
																<% if(fields){ %>
																	<option value="presencial" <%= String(fields.modalidad) === 'presencial' ? 'selected' : '' %>>Presencial</option>
																	<option value="virtual" <%= String(fields.modalidad) === 'virtual' ? 'selected' : '' %>>Virtual</option>
																	<option value="semipresencial" <%= String(fields.modalidad) === 'semipresencial' ? 'selected' : '' %>>Semipresencial</option>
																<% } else if(programa) {%>
																	<option value="presencial" <%= String(programa.modalidad) === 'presencial' ? 'selected' : '' %>>Presencial</option>
																	<option value="virtual" <%= String(programa.modalidad) === 'virtual' ? 'selected' : '' %>>Virtual</option>
																	<option value="semipresencial" <%= String(programa.modalidad) === 'semipresencial' ? 'selected' : '' %>>Semipresencial</option>
																<% } else { %>
																	<option value="presencial">Presencial</option>
																	<option value="virtual">Virtual</option>
																	<option value="semipresencial">Semipresencial</option>	
																<% } %>
														</select>
													</div>
												</div>
												<div class="col-12 col-md-6">
													<div class="form-group">
														<label for="tipo"
															>Tipo *</label
														>
														<select class="form-control" name="tipo" >
															<option value="" selected disabled>-- Elige un tipo de programa académico --</option>
																<% if(fields){ %>
																	<option value="curso" <%= String(fields.tipo) === 'curso' ? 'selected' : '' %>>Curso</option>
																	<option value="diplomado" <%= String(fields.tipo) === 'diplomado' ? 'selected' : '' %>>Diplomado</option>
																	<option value="especializacion" <%= String(fields.tipo) === 'especializacion' ? 'selected' : '' %>>Especializacion</option>
																<% } else if(programa) {%>
																	<option value="curso" <%= String(programa.tipo) === 'curso' ? 'selected' : '' %>>Curso</option>
																	<option value="diplomado" <%= String(programa.tipo) === 'diplomado' ? 'selected' : '' %>>Diplomado</option>
																	<option value="especializacion" <%= String(programa.tipo) === 'especializacion' ? 'selected' : '' %>>Especializacion</option>
																<% } else { %>
																	<option value="curso">Curso</option>
																	<option value="diplomado">Diplomado</option>
																	<option value="especializacion">Especializacion</option>	
																<% } %>
														</select>
													</div>
												</div>
											</div>

											<hr style="margin-top: 1rem;  margin-bottom: 1rem; border: 0; border-top: 1px solid rgba(0, 0, 0, 0.1)" />
											<div class="form-group">
												<label for="inscripcion"
													>Inscripción</label
												>
												<div class="row">
													<div class="col-12 col-md-8">
														<div class="contenedor-editor">
															<input
																type="hidden"
																name="inscripcion"
																id="inputInscripcionQuill"
																value="<%= fields ? fields.inscripcion : programa ? programa.inscripcion : '' %>"
															/>
															<div id="editorInscripcion">
																<%- fields ? fields.inscripcion : programa ? programa.inscripcion : '' %>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="form-group">
												<label for="temario"
													>Temario</label
												>
												<div class="row">
													<div class="col-12 col-md-8">
														<div class="contenedor-editor">
															<input
																type="hidden"
																name="temario"
																id="inputTemarioQuill"
																value="<%= fields ? fields.temario : programa ? programa.temario : '' %>"
															/>
															<div id="editorTemario">
																<%- fields ? fields.temario : programa ? programa.temario : '' %>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="form-group">
												<label for="materiales"
													>Materiales</label
												>
												<div class="row">
													<div class="col-12 col-md-8">
														<div class="contenedor-editor">
															<input
																type="hidden"
																name="materiales"
																id="inputMaterialesQuill"
																value="<%= fields ? fields.materiales : programa ? programa.materiales : '' %>"
															/>
															<div id="editorMateriales">
																<%- fields ? fields.materiales : programa ? programa.materiales : '' %>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="form-group">
												<label for="promocion"
													>Promocion</label
												>
												<div class="row">
													<div class="col-12 col-md-8">
														<div class="contenedor-editor">
															<input
																type="hidden"
																name="promocion"
																id="inputPromocionQuill"
																value="<%= fields ? fields.promocion : programa ? programa.promocion : '' %>"
															/>
															<div id="editorPromocion">
																<%- fields ? fields.promocion : programa ? programa.promocion : '' %>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="form-group">
												<label for="metodologia"
													>Metodologia</label
												>
												<div class="row">
													<div class="col-12 col-md-8">
														<div class="contenedor-editor">
															<input
																type="hidden"
																name="metodologia"
																id="inputMetodologiaQuill"
																value="<%= fields ? fields.metodologia : programa ? programa.metodologia : '' %>"
															/>
															<div id="editorMetodologia">
																<%- fields ?
																fields.metodologia : programa ? programa.metodologia : '' %>
															</div>
														</div>
													</div>
												</div>
											</div>

											<hr style="margin-top: 1rem;  margin-bottom: 1rem; border: 0; border-top: 1px solid rgba(0, 0, 0, 0.1)" />
											<div class="form-group">
												<label for="expositorNombre"
													>Nombre del Expositor *</label
												>
												<div class="row">
													<div class="col-12 col-md-6">
														<input
															type="text"
															class="form-control"
															id="expositorNombre"
															placeholder="Ej. Ing. Remigio López Daga"
															name="expositorNombre"
															value="<%= fields ? fields.expositorNombre : programa ? programa.expositorNombre : '' %>"
														/>
													</div>
												</div>		
											</div>
											<div class="form-group">
												<label for="expositorDescripcion"
													>Descripcion del Expositor *</label
												>
												<div class="row">
													<div
														class="col-12 col-md-6"
													>
														<textarea
															rows="10"
															class="form-control"
															id="expositorDescripcion"
															placeholder="Ej. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum."
															name="expositorDescripcion"
														>
<%= fields ? fields.expositorDescripcion : programa ? programa.expositorDescripcion : '' %></textarea
														>
													</div>
												</div>
											</div>
										</div>
										<!-- /.card-body -->

										<div class="card-footer">
											<button
												type="submit"
												class="btn btn-primary"
											>
												Editar Programa Académico
											</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- /.content -->
			</div>
			<!-- /.content-wrapper -->

			<!-- Control Sidebar -->
			<aside class="control-sidebar control-sidebar-dark">
				<!-- Control sidebar content goes here -->
			</aside>
			<!-- /.control-sidebar -->
		</div>
		<!-- ./wrapper -->

		<%- include('../layouts/scriptAdmin.ejs') %>
	</body>
</html>
