<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/headAdmin.ejs') %>
	</head>
	<body class="hold-transition sidebar-mini layout-navbar-fixed">
		<!-- Site wrapper -->
		<div class="wrapper">
			<%- include ('../../views/layouts/navbarAdmin.ejs', {user}) %> <%-
			include('../../views/layouts/sidebarAdmin.ejs', {user}) %>

			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<!-- Content Header (Page header) -->
				<section class="content-header">
					<div class="container-fluid">
						<div class="row mb-2">
							<div class="col-sm-6">
								<h1>Agregar Anuncio</h1>
							</div>
							<div class="col-sm-6">
								<ol class="breadcrumb float-sm-right">
									<li class="breadcrumb-item">
										<a href="<%= ROUTES.ADMIN %>">Home</a>
									</li>
									<li class="breadcrumb-item">
										<a href="<%= ROUTES.ANUNCIOS_ADMIN %>"
											>Anuncios</a
										>
									</li>
									<li class="breadcrumb-item active">
										Agregar Anuncio
									</li>
								</ol>
							</div>
						</div>
					</div>
					<!-- /.container-fluid -->
				</section>

				<!-- Main content -->
				<section class="content">
					<div class="container-fluid">
						<div class="row">
							<div class="col-12">
								<%- include('../partials/mensajesFlash.ejs') %>
								<div class="card card-primary">
									<div class="card-header">
										<h3 class="card-title">Formulario</h3>
									</div>
									<!-- /.card-header -->
									<!-- form start -->
									<form
										method="POST"
										action="<%= ROUTES.AGREGAR_ANUNCIO + '?_csrf=' + csrfToken %>"
										enctype="multipart/form-data"
									>
										<div class="card-body">
											<div class="form-group">
												<label for="titulo"
													>Título *</label
												>
												<input
													type="text"
													class="form-control"
													id="titulo"
													placeholder="Ingrese Título"
													name="titulo"
													value="<%= fields ? fields.titulo : '' %>"
												/>
											</div>
											<div class="form-group">
												<label for="portada"
													>Portada *</label
												>
												<div class="input-group">
													<div class="custom-file">
														<input
															type="file"
															class="custom-file-input"
															id="fileInputAnuncio"
															name="portada"
															accept="image/*"
														/>
														<label
															class="custom-file-label"
															for="portada"
															>Elige una
															imagen</label
														>
													</div>
													<div
														class="input-group-append"
													>
														<span
															class="input-group-text"
															>Subir</span
														>
													</div>
												</div>
												<div
													id="imagePreviewAnuncio"
													class="col-12 col-md-7 col-xl-5 mt-2 p-0"
												></div>
											</div>
											<div class="form-group">
												<label for="extracto"
													>Extracto * (max 35 palabras)</label
												>
												<div class="row">
													<div class="col-12 col-md-6">
														<textarea
															rows="3"
															class="form-control"
															id="extracto"
															placeholder="Ingrese un extracto o resumen a mostrar"
															name="extracto"
														><%= fields ? fields.extracto : '' %></textarea>
													</div>
												</div>
											</div>

											<div class="form-group row">
												<div class="col-12 col-md-6">
													<div class="form-group">
														<label for="fecha"
															>Fecha *</label
														>
														<input
															class="form-control"
															type="date"
															name="fecha"
															id="fecha"
															placeholder="Fecha Anuncio"
															value="<%= fields ? fields.fecha : '' %>"
														/>
													</div>
												</div>
												<div class="col-12 col-md-6">
													<div class="form-group">
														<label for="hora"
															>Hora *</label
														>

														<input
															class="form-control"
															type="time"
															name="hora"
															id="hora"
															placeholder="Hora Anuncio"
															value="<%= fields ? fields.hora : '' %>"
														/>
													</div>
												</div>
											</div>

											<div class="form-group contenido">
												<label for="contenido"
													>Descripción *</label
												>
												<div class="contenedor-editor">
													<input
														type="hidden"
														name="contenido"
														id="inputDescriptionQuill"
														value="<%= fields ? fields.contenido : '' %>"
													/>
													<div id="editor">
														<%- fields ?
														fields.contenido : '' %>
													</div>
												</div>
											</div>
										</div>
										<!-- /.card-body -->

										<div class="card-footer">
											<button
												type="submit"
												class="btn btn-primary"
											>
												Agregar Anuncio
											</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- /.content -->
			</div>
			<!-- /.content-wrapper -->

			<!-- Control Sidebar -->
			<aside class="control-sidebar control-sidebar-dark">
				<!-- Control sidebar content goes here -->
			</aside>
			<!-- /.control-sidebar -->
		</div>
		<!-- ./wrapper -->

		<%- include('../layouts/scriptAdmin.ejs') %>
	</body>
</html>
