<!DOCTYPE html>
<html lang="es">
  <%- include ('../partials/headView.ejs') %>
  <body>
    <%- include ('../layouts/headerView.ejs') %>
    <main>
      <div class="main">
        <div class="main__content container">
          <div class="anuncio">
            <h1 class="anuncio__title">I Primer Encuentro de Sostenibilidad en las Empresas Comunales</h1>
            <div class="anuncio__image">
              <img src="/dist/images/anuncio.jpg" alt="I Primer Encuentro de Sostenibilidad en las Empresas Comunales">
            </div>
            
            <%#<div class="anuncio__content"> %>
              <%# anuncio.Contenido %>
            <%#</div> %>
            
            <div class="anuncio__content">
              <h2>PRESENTACIÓN:</h2>
              <p>En el Perú existen más de siete mil comunidades que representan más del cuarenta por ciento del territorio nacional. Los grandes economistas mencionan que nuestro país necesita crecer un promedio superior al 5.5% anual, la pregunta es ¿Cómo podríamos soñar en ese porcentaje si no estamos atendiendo ni le damos importancia a un gran número de personas que representan a las comunidades? ¿Cómo podríamos crecer si no las capitalizamos, no les damos capacidades técnicas, tecnológicas, acompañamiento, no aseguramos el cumplimiento de acuerdos ni el Estado ejerce su rol? Todas estas preguntas necesitamos estrategias de sensibilización en todos los niveles socioeconómicos. Todos los programas del Estado están enfocados en dar mayor y mejores beneficios y oportunidades a inversionistas, situando a los productores en segundo plano en la incidencia del acompañamiento. De este análisis, nos llega la interrogante, ¿por qué la pobreza en nuestro país está en algunas comunidades, si ellas son propietarias de las zonas de donde sale la riqueza más preciada para el mundo?.
              La Cámara Peruana de Empresas Comunales, viene organizando el II Encuentro de Sostenibilidad de Empresas Comunales,  para analizar que existe políticas del estado para volver productiva la zona rural del Perú. A pesar de ello actualmente un nuevo modelo de gestión y éxito vienen alcanzando las empresas comunales en diversas regiones del país impulsadas por el sector minero. Estas no solo generan empleo sino también la integración de las poblaciones a la cadena productiva, permitiendo un desarrollo sostenible. El evento tratara  temas relacionados a la organización y gestión; que son los pilares de las empresas sus lideres y sus profesionales, gestión de capital humano, gestión de la productividad, gestión socio-ambiental y gestión de tecnología, como participar para contratar con el estado, importación de bienes, casos de éxitos de empresas comunales.
              </p>

              <h2>OBJETIVO:</h2>
              <p>Fortalecer el Capital Humano de las Empresas Comunales, contribuyendo al desarrollo de Organización Sostenible de las comunidades fomentando las buenas relaciones empresariales.
              </p>

              <h2>TEMARIO:</h2>
              <ul>
                <li>Desafío Estratégico Sostenible; riesgos y oportunidades de la empresas Comunales.</li>
                <li>Empoderamiento de la Comunidad y Capital Social para el desarrollo sostenible.</li>
                <li>Gestión Estratégica ante el Estado y Empresas Mineras.</li>
                <li>Casos de Empresas Comunales como modelo sostenible.</li>
                <li>Mesa de Debates y Conclusiones.</li>
              </ul>

              <h2>LUGAR:</h2>
              <p>Auditorio del Hotel San Agustín de Ribeira (Jr: Garcilazo de la Vega # 481 Lima)</p>

              <h2>FECHA:</h2>
              <p>18 de setiembre de 2019</p>

              <h2>INVERSION:</h2>
              <p>S/0.00</p>

              <h2>INSCRIPCIONES:</h2>
              <h3>Celular: </h3>
              <p>993245509</p>
              <h3>E-mail:</h3>
              <p>oladegperucapacitacion@gmail.com</p>

              <h2>OFICINA:</h2>
              <p>Jr. Apurímac 463 Lima 1</p>

              <h2>MODALIDAD:</h2>
              Virtual

              <h2>70% DESCUENTO:</h2>
              <p>Promoción válida solo hasta el 10 de abril del 2021</p>

              <p><a href="">Informes e Inscripciones Aquí</a></p>

              <h2>PROYECTO HUACHO:</h2>
              <p>MSF es una asociación medico humanitaria sin ánimo de lucro, que asiste a poblaciones en situación precaria y a víctimas de catástrofes de origen natural o humano sin ningún tipo de discriminación por raza, religión, ideología política o género.</p>

              <h2>OBJETIVOS PRINCIPALES:</h2>
              <p>Garantizar el funcionamiento general de la farmacia y supervisar los procesos de la cadena de suministros según las normas de MSF , a fin de asegurar su eficiencia y disponibilidad operativa.</p>

              <h2>PRINCIPALES ACTIVIDADES:</h2>
              <ul>
                <li>Supervisar los pedidos de material médico y fármacos en los centros manejados por MSF y armonizar el intercambio de datos con el hospital de Huacho (o donde MSF intervine) de acuerdo con sus necesidades.</li>
                <li>Asegurarse de que las herramientas de trabajo de la farmacia estén actualizadas y disponibles en los servicios.</li>
                <li>Asegurarse del seguimiento del consumo en cada departamento (CAT, COT, Actividades externas) para evitar la falta de insumos.</li>
                <li>Gestión del stock y suministro, así como los procedimientos de higiene y seguridad, herramientas y protocolos (control de pestes y roedores), implementando controles de calidad apropiados y registros para asegurar buenas condiciones de almacenamiento (temperatura, exposición a la luz, etc) y disponibilidad de fármacos y material médico. Esto se hará según los protocolos de MSF , las regulaciones nacionales y en cooperación con el departamento de logística.</li>
                <li>Coordinar la entrega, recepción y el registro de los pedidos locales o internacionales, en estrecha coordinación con el departamento de logística, actualizando los expedientes de existencias e informando a los gerentes de turno el estado (faltantes, exceso de aprovisionamiento, fechas de caducidad), a fin de asegurar de forma permanente los niveles de seguridad del stock y asegurar el manejo eficiente del stock.</li>
              </ul>
              <h2>REQUISITOS:</h2>
              <h3>Formación:</h3>
              <p>Esencial, título en gestión de farmacia o estudios relacionados con la enfermería, o perfil médico.</p>

              <h3>Experiencia:</h3>
              <p>Al menos 1 año de experiencia de trabajo certificado como gestor de farmacia.</p>

              <h3>Competencias:</h3>
              <p>Resultados, Buena comunicación, empatía, saber inter-actuar con los compañeros, Confidencialidad, Neutralidad, Respeto, Imparcialidad, trabajo en equipo inter-disciplinario e internacional, flexibilidad, compromiso, manejo de estrés, sensibilidad intercultural imprescindible.</p>

              <h3>Otros:</h3>
              <p>Español fluido, inglés deseable</p>
              <p>Ser peruano (a) o ser legalmente residente.</p>

              <h2>COMO POSTULAR</h2>
              <p>Entregando CV y carta de motivación indicando pretensiones salariales a: msff-peru-cofirh@paris.msf.org; msff-peru-depcofirh@paris.msf.org</p>

              <p>Colocar en Asunto: SUPERVISOR EN FARMACIA</p>
              <p>Fecha límite de recibo de CV: 08/04/21</p>
                  
              <p>Solamente serán tomadas en cuenta las candidaturas completas enviadas hasta la fecha límite.</p>
              <p><img src="http://localhost:1337/uploads/cesar2_c3aafb175a.png" alt=""></p>
            </div>
          <%# include('../partials/twobuttons.ejs', {tipo: "anuncio"}) %>
          </div>
          <%- include('../layouts/sidebarView.ejs') %>
        </div>
      </div>

      <%- include('../layouts/whatsapp.ejs') %>
    </main> 
    <%- include('../layouts/footerView.ejs') %>
    <%- include('../layouts/scriptView.ejs') %>
  </body>
</html>
