<!DOCTYPE html>
<html lang="es">
	<%- include ('../partials/head.ejs') %>
	<body>
		<%- include ('../layouts/header.ejs') %>
		<main>
			<%- include('../layouts/banner2.ejs', {variant: 'Boletines'}); %>
			<div class="main__content container">
				<section class="boletines">
					<h1 class="boletines__intro">Boletines</h1>
					<% if(boletines.length !== 0) { %>
						<div class="boletines__grid">
							<% boletines.forEach(function(boletin) { %>
								<div class="boletines__item appear-content">
									<h2 class="boletines__title">
										<a
											href="<%= ROUTES.MOSTRAR_BOLETIN.replace(':slug', boletin.slug) %>"
											title="<%= boletin.titulo %>"
											role="link"
											><%= boletin.titulo %></a
										>
									</h2>
									<p class="boletines__time flex flex-ai-c">
										<img
											loading="lazy"
											src="/dist/icons/Clock.svg"
											alt="Datetime Boletin"
										/>
										<% let timeZone = Intl.DateTimeFormat().resolvedOptions().timeZone %> 
										<% let datetime = boletin.fechaPublicacion.toLocaleString('es', {timeZone: timeZone }) %> 
										<% const fechaPublicacion = DateTime.fromISO(boletin.fechaPublicacion, { locale: 'es' }) %> 
										<% const fechaFormateada = fechaPublicacion.toFormat('dd \'de\' MMMM \'de\' yyyy') %>
										<time
											datetime="<%= datetime %>"
											class="flex flex-ai-c"
											><%= convertirPrimeraLetraMayuscula(fechaFormateada) %></time>
									</p>
									<div class="boletines__image">
										<a
											href="<%= ROUTES.MOSTRAR_BOLETIN.replace(':slug', boletin.slug) %>"
											title="<%= boletin.titulo %>"
											role="link"
										>
											<img
												loading="lazy"
												src="<%= boletin.portada %>"
												alt="<%= `Boletin ${boletin.titulo}` %>"
											/>
										</a>
									</div>
									<div class="boletines__button">
										<a
											href="<%= ROUTES.MOSTRAR_BOLETIN.replace(':slug', boletin.slug) %>"
											title="<%= `${boletin.titulo}` %>"
											role="link"
											type="button"
											class="button"
											>Más Información</a
										>
									</div>
								</div>
							<% }) %>
						</div>
					<% }else{ %>
						<h3 class="boletines__title">Sin Boletines</h3>
					<% } %>
					<%- include('../partials/buttons.ejs') %>
				</section>
				<%- include('../layouts/sidebar.ejs') %>
			</div>

			<%- include('../layouts/whatsapp.ejs') %>
		</main>
		<%- include('../layouts/footer.ejs') %> 
		<%- include('../layouts/script.ejs') %>
	</body>
</html>
